main.page {
  display: flex;
  flex-direction: column;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(0, 65, 25) 0%,
    rgba(0, 167, 38, 1) 14%,
    rgba(83, 176, 26, 1) 70%,
    rgba(255, 195, 0, 1) 100%
  );
}

main.page > div {
    padding: 3rem 5rem;
}

main.page > h1 {
    align-self: center;
    color: #2e1b36;
}

main.page > h3 {
    color: #2e1b36;
}

a.back-button {
    z-index: 20;
    position: fixed;
    padding: 0.5rem 0.7rem;
    margin: 1rem;
    border: 2px solid rgba(255, 166, 0, 0.7);
    border-radius: 10rem;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0px 30px rgba(218, 152, 7, 0.8);
    transition: all 0.6s;
}

a.back-button:hover {
    border: 2px solid rgba(255, 166, 0, 1);
}

a.back-button:hover > span {
    box-shadow: 0px 0px 100px rgb(255, 174, 1);
    text-decoration: underline;
}