section {
    gap: 0;
}

section > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.question {
    margin: 0;
    margin-bottom: 1rem;
    margin-left: 2rem;
    font-size: 1.6rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif !important;
    font-style: italic;
}