/* App.css */
/* Enable snap scrolling for the main container */
.App {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh; /* Each section fills the viewport */
}

/* Each section should snap into place */
section {
  scroll-snap-align: start;
  height: 100vh; /* Full viewport height for each section */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #333;
  padding: 1rem;
  z-index: 10;
  text-align: center;
}

header nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
  cursor: pointer;
}



#welcome {
  background: #f7e4d4;
}

#interesting {
  background: #e2d4f7;
}

#event-details {
  background: #d4f7e7;
}

#FAQ {
  background: #f7d4d4;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #333;
  color: white;
}